.sub-data {
    padding: 2px 5px;
}

.box-10 {
    padding: 10px;
}

.margin-10 {
    margin: 10px;
}

.bordered-10 {
    border-radius: 8px;
    padding: 10px;
}

.comment-label.submitter {
    color: var(--accent-color);
}

.green {
    color: var(--accent-green);
}

.blue {
    color: var(--accent-blue);
}

.red {
    color: var(--accent-red);
}