.sub-data {
    padding: 2px 5px;
}

.box-10 {
    padding: 10px;
}

.margin-10 {
    margin: 10px;
}

.bordered-10 {
    border-radius: 8px;
    padding: 10px;
}

.green {
    color: var(--accent-green);
}

.blue {
    color: var(--accent-blue);
}

.red {
    color: var(--accent-red);
}

.submissions>row {
    background-color: var(--card-bg-color);
    margin-bottom: 10px;
    border-radius: 10px;
    transition: all 0.2s;
}

.submissions>row:hover {
    background-image: image(color-mix(in srgb, currentColor 3%, transparent));
}

.submissions>row:active {
    background-image: image(color-mix(in srgb, currentColor 8%, transparent));
}